* {
    box-sizing: border-box;
}

:root {
    --form-min-width: 860px;
    --field-label-width: 80px;
    font-family: Helvetica, sans-serif;
}

:root, input, textarea, select, option, button {
    font-size: 16px;
}

body, form {
    display: flex;
    flex-direction: column;
}

body {
    align-items: center;
    margin: unset;
    padding: 20px;
    padding-bottom: 50px;
}

form {
    max-width: 100%;
    width: var(--form-min-width);
}

fieldset {
    /*--field-input-width: 300px;*/
    /*max-width: var(--form-min-width);*/
    display: flex;
    justify-content: space-between;
    border: unset;
    margin: unset;
    padding: unset;
    gap: 1rem;
}

input, textarea, button {
    -webkit-appearance: unset;
    font-family: inherit;
    background: unset;
    border: 1px solid gray;
}

label {
    word-break: break-word;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label > :is(input, textarea) {
    --field-input-width: calc(100% - var(--field-label-width));
    max-width: var(--field-input-width);
    min-width: var(--field-input-width);
    align-self: stretch;
}

label:last-of-type {
    align-items: flex-start;
}

label, button {
    margin: .5rem 0;
}

button {
    background: gray;
    align-self: center;
    padding: .5em;
}

@media (max-width: 900px) {
    fieldset {
        display: initial;
        flex-direction: column;
        gap: unset;
        width: 100%;
    }

    button[type=submit] {
        align-self: stretch;
    }
}
